.title {
    border-bottom: 1px;
    border-bottom-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.copy-ip {
    color: #000;
}

vl {
    border-right: .15em solid black;
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 1.5s ease;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 98.5%
    }
}
